* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  overflow: hidden;
  width: 100%;
}


html {
  font-size: 62.5%; // 62.5% of 16px = 10px

  @media (max-width: 1200px) {
    font-size: 56.25%; // 56.25% of 16px = 9px
  }

  @media (max-width: 900px) {
    font-size: 50%; // 50% of 16px = 8px
  }
}

body {
  font: 400 1.6rem/1.7 'Lato', sans-serif;
  color: #777;
}

// .wrapper {
//   position: relative;
//   overflow: hidden;
//   width: 100%;
// }